# Python Rehearsals
    **********************************************
    Author:        Adeyemi Adedoyin Simeon
    Date:          April 18, 2019
    Location:      Ibadan, UI
    Version:       1.1
    Last Modified: Sept. 16, 2019
    E-mail:        adeyemi.sa1@gmail.com
    **********************************************

## Working with List Comprehensions

In [1]:
cmts = ['it\'s hot here #heat','i love coding #python #Programming # Sweet', 'Prediction is nice #MachineLearning']

In [2]:
cmtL = [l.split('#') for l in cmts]

In [3]:
cmtL

[["it's hot here ", 'heat'],
 ['i love coding ', 'python ', 'Programming ', ' Sweet'],
 ['Prediction is nice ', 'MachineLearning']]

In [4]:
y = [l[1:] for l in cmtL]

In [5]:
y

[['heat'], ['python ', 'Programming ', ' Sweet'], ['MachineLearning']]

In [6]:
y = [print(', '.join(i), end=', ') for i in y]

heat, python , Programming ,  Sweet, MachineLearning,

In [7]:
from collections import deque

In [8]:
queue = deque([])

In [9]:
queue.append('kunle')

In [10]:
queue.extend(['wale','seun','bayo'])

In [11]:
queue

deque(['kunle', 'wale', 'seun', 'bayo'])

In [12]:
queue.popleft()

'kunle'

In [13]:
queue.pop()

'bayo'

# Sets Data Type

In [14]:
fruit1 = {'Orange','Mango','Pawpaw','Pearl'}

In [15]:
fruit2 = {'Cashew','Mango','Banana','Pawpaw','Avocadro','Berry'}

In [16]:
fruit1.union(fruit2)

{'Avocadro', 'Banana', 'Berry', 'Cashew', 'Mango', 'Orange', 'Pawpaw', 'Pearl'}

In [17]:
fruit1.intersection(fruit2)

{'Mango', 'Pawpaw'}

In [18]:
fruit2.intersection(fruit1)

{'Mango', 'Pawpaw'}

In [19]:
fruit1.difference(fruit2)

{'Orange', 'Pearl'}

In [20]:
fruit2.difference(fruit1)

{'Avocadro', 'Banana', 'Berry', 'Cashew'}

In [21]:
fruit3 = fruit2.difference(fruit1)

In [22]:
fruit3

{'Avocadro', 'Banana', 'Berry', 'Cashew'}

In [23]:
fruit3.add('guava')

In [24]:
fruit3

{'Avocadro', 'Banana', 'Berry', 'Cashew', 'guava'}

In [25]:
fruit4 = fruit3.union(fruit1)

In [26]:
fruit4

{'Avocadro',
 'Banana',
 'Berry',
 'Cashew',
 'Mango',
 'Orange',
 'Pawpaw',
 'Pearl',
 'guava'}

In [27]:
fruit3.issubset(fruit4)

True

In [28]:
fruit3.issubset(fruit2)

False

In [29]:
sorted(fruit4)

['Avocadro',
 'Banana',
 'Berry',
 'Cashew',
 'Mango',
 'Orange',
 'Pawpaw',
 'Pearl',
 'guava']

In [30]:
fruit4

{'Avocadro',
 'Banana',
 'Berry',
 'Cashew',
 'Mango',
 'Orange',
 'Pawpaw',
 'Pearl',
 'guava'}

In [31]:
'Pineapple' in fruit4

False

In [32]:
'Berry' in fruit4

True

In [33]:
'Avocadro' not in fruit1

True

In [34]:
fruit4.remove('guava')

In [35]:
fruit4.add('Guava')

In [36]:
print('Fruits Listed in Ascending Order:\n')
for f in sorted(fruit4):
    print(f)

Fruits Listed in Ascending Order:

Avocadro
Banana
Berry
Cashew
Guava
Mango
Orange
Pawpaw
Pearl

In [37]:
print('Fruits Listed in Descending Order: \n')
for i,f in enumerate(reversed(sorted(fruit4))):
    print(i+1,'. ',f)

Fruits Listed in Descending Order:

1 .  Pearl
2 .  Pawpaw
3 .  Orange
4 .  Mango
5 .  Guava
6 .  Cashew
7 .  Berry
8 .  Banana
9 .  Avocadro

In [38]:
st = 'I am\ta\tstring'

In [39]:
st.expandtabs(3)

'I am  a  string'